.form {
    height: 18rem;
    width: 23rem;
    padding: 1rem 1.8rem 1rem 1rem;
    box-shadow: 0.7rem 0.9rem 0.2rem #263A29;
    border-radius: 0.7rem;
    border: 0.1rem solid #A6D0DD;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form label {
    display: block;
}


.form-input__username, .form-input__password{
    cursor: pointer;
    width: 100%;
    height: 2rem;
    margin: 0.5rem; 
    text-align: center;   
    border: 1px solid #eaeaea;
    outline: none;
    font-weight: lighter;
    background: #eaeaea;
}

.form-input__username:focus, .form-input__password:focus {
    border: 0.1rem solid #2C3333;
}



.form-btn {
   width: 7rem;
   height: 2.5rem;
   border: none;
   margin-top: 0.7rem;
   background-color: #6096B4;
   cursor: pointer;
   color: #fff;
   font-weight: lighter;
   font-size: 1rem;
  }
  

.form-btn:hover {
    border: 1px solid;
    background-color: #fff;
    color: #6096B4;
}